/* General styling for the body */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f4f4f4;
    color: #393536;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat__container {
    width: 320px;
    max-width: 100%;
    background: #f4f4f4;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.chat-header {
    font-size: 16px;
    border-top: solid 4px #ffcc00;
    border-bottom: solid 2px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: white;
    position: relative;
}

.chat-header__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-header__title h2 {
    margin: 0;
}

.chat-header__close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    line-height: 0;
    cursor: pointer;
    padding: 16px 12px;
    margin: 6px 3px;
}

.chat-app__chat-feed-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.chat-feed {
    font-size: 15px;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    line-height: 1.6;
}

.chat-feed__scrollable-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
}

.introduction {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s, transform 0.5s ease-out;
}

.introduction__text {
    font-size: 24px;
    line-height: 1.33;
    width: 246px;
    color: #231f20;
    opacity: 1;
}

.chat-feed__chat-bubbles {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.chat-feed-item {
    display: flex;
    margin-bottom: 8px;
    clear: both;
    max-width: 73%;
    margin-left: 16px;
    margin-right: 16px;
}

.chat-feed-item--from-them {
    float: left;
}

.chat-feed-item--from-me {
    float: right;
    justify-content: flex-end;
    margin-left: auto;
}

.chat-feed-item__content {
    width: 100%;
    display: flex;
}

.chat-bubble {
    padding: 12.5px 16px;
    border-radius: 8px;
    box-sizing: content-box;
    overflow: hidden;
}

.chat-bubble--from-them {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.chat-bubble--from-them.chat-bubble--first {
    border-top-left-radius: 8px;
}

.chat-bubble--from-them.chat-bubble--last:not(.chat-bubble--first) {
    border-bottom-left-radius: 8px;
}

.chat-bubble--from-me {
    background-color: #dcf8c6;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.chat-bubble--from-me.chat-bubble--first {
    border-top-right-radius: 8px;
}

.chat-bubble--from-me.chat-bubble--last:not(.chat-bubble--first) {
    border-bottom-right-radius: 8px;
}

.chat-input {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    border-top: solid 0.2px rgba(91, 91, 91, 0.2);
    box-shadow: 0 0 4px 0 rgba(35, 31, 32, 0.24);
}

.chat-input__form {
    display: flex;
    flex: 1;
    align-items: center;
}

.chat-input__form__input {
    border: none;
    flex: 1;
    font-size: 15px;
    background: transparent;
    line-height: 1.5;
    font-family: inherit;
    padding: 21px 70px 21px 16px;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 65px;
}

.chat-input__form__input::placeholder {
    color: #706d6e;
    opacity: 1;
}

.chat-input__form__send {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 7px 16px;
    margin: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
}

.chat-input__form__send__icon {
    transform: rotate(90deg);
    width: 32px;
    height: 32px;
}

.chat-input__form__send--inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

.screen-reader-text {
    position: absolute;
    top: -99999px;
    left: -99999px;
}
